body, html {
    height: 100%;
    line-height: 1.8;
    font-family: 'Times New Roman', Times, serif;
}
div {
    margin: 0 auto;
    width: 80%;
    padding: 10px;
    font-family: "Raleway", sans-serif;
}
h1 {
    text-align: center;
    color: black;
}

body {
    background-image: url("https://th.bing.com/th/id/OIP.DwOpz96d3DG84VK-8UTnrAHaHa?w=182&h=182&c=7&r=0&o=5&pid=1.7");
}
li {
    text-decoration: none;
    color: black;
}
ul{
    background-color: white;
}