body, html {
    height: 100%;
    line-height: 1.8;
    font-family: 'Times New Roman', Times, serif;
}
div {
    margin: 0 auto;
    width: 80%;
    padding: 10px;
    font-family: "Raleway", sans-serif;
}
h1 {
    text-align: center;
    color: black;
}

body {
    background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAsJCQcJCQcJCQkJCwkJCQkJCQsJCwsMCwsLDA0QDBEODQ4MEhkSJRodJR0ZHxwpKRYlNzU2GioyPi0pMBk7IRP/2wBDAQcICAsJCxULCxUsHRkdLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCz/wAARCAC4ANwDASIAAhEBAxEB/8QAFgABAQEAAAAAAAAAAAAAAAAAAAEG/8QAGBABAQEBAQAAAAAAAAAAAAAAAAERUTH/xAAXAQEAAwAAAAAAAAAAAAAAAAAAAQME/8QAFBEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEQMRAD8A21tTaUZ1xtNoAbTaAG02gBtNoAbTaAG02gBtNoAbTaAG02gBtNoAbTaAG02gBtWWoQChUAVAFEAVABRAFEAFQBRAFQAUQBRABUAUQBSIsAoUBFRQAAEVAUAAAEVFAAARUBQAAARUUAAAgQCotAQFBBQEFQAUBBQEBQQUBBUAFAQUBAUEFARYEAqLUAAAAAAAAAAAAAAAAAAAAAAAAAWIsAvoVAUQBRAFEAUQBRAFEAUQBRAFEAUQBRAFEAUiLAKFQFEAUQBRAFEAUQBRAFEAUQBRAFEAUQBRAFIiwCot9AQFBBQEFQAUBBQEBQQUBBUAFAQUBAUEFARYEAqLQEBQQUBBUAFAQUBAUEFAQVABQEFAQFBBQEWBAKFQBUAUQBUAFEAUQAVAFEAVABRAFEAFQBRAFIiwChfQEUAAAEUAAAABFAAABFAAAAARQAAAIEAspl5QAy8pl5QAy8pl5QAy8pl5QAy8pl5QAy8pl5QAy8pl5QAy8pl5QAy8pl5QAy8pl5QAy8pl5QAy8pl5QAy8pl5QAy8qyXlAQ//Z");
}
a {
    color: white;
    text-decoration: none;
}
ul.navbar{
    background-color: white;
    width: 100%;
list-style-type: none;
}
.navbar, .navbar li {
    float: left;
}